.detail_con{
    padding: 1em 10em;
    background-color: #fff;
}

.detail_sect_one{
    display: flex;
    align-items: center;
    position: relative;
}

.headerImage{
    display: flex;
    align-items: center;
    width: 100%;
}

.one_icon1{
    background-color: #000000;
    color: #fff;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0.5em; */
}

.sect_one{
    position: absolute;
    bottom: 20px;
    left: 4em;
}

.one_one{
    display: flex;
}

.backImage{
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
}

.one_one p:first-child{
    background-color: #fff;
    color: #000000;
    margin-right: 0.5em;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625;
    padding: 0.3em 1em;
    border-radius: 15px;
}

.one_one p:nth-child(2){
    background-color: #26688b;
    color: #fff;
    margin-right: 0.5em;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625;
    padding: 0.3em 1em;
    border-radius: 15px;
}

.one_one p:nth-child(3){
    background-color: #cf2e2e;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625;
    padding: 0.3em 1em;
    border-radius: 15px;
}

.one_two{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.one_two h1:first-child{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin-right: 1.5em;
    font-size: 30px;
}

.one_two h1:nth-child(2){
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 30px;
    background-color: #26688b;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    color: #fff;
}

.one_three{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    width: 180%;
}

.one_three div:first-child{
    display: flex;
}

.three_icon{
   color: #26688b; 
   font-weight: 500;
   font-size: 20px;
   margin-right: 0.5em;
}

.one_three div:first-child h4{
    font-weight: 500;
    color: #fff;
}

.three_icon2{
    margin-right: 1em;
    background-color: #000000;
    color: #fff;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgba(251, 247, 247, 0.904);
}

.three_icon3{
    background-color: #000000;
    color: #fff;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgba(251, 247, 247, 0.904);
}

/************ SECT TWO ****************/

.detail_sect_two{
    padding: 1em 3em;
    display: flex;
    left: 0px;
}

.sect_two_img{
    border-radius: 20px;
    background-color: #fff;
    width: 20%;
    height: 100%;
    margin-right: 0.5em;
}

.sideImage{
    border-radius: 20px;
    padding-right: 0.5em;
    width: 100%;
} 

.sect_two_last{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect_two_last h2{
    margin-block: 0.4em;
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.625;
}

.sect_two_last h3{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    line-height: 1.625;
}

/************ SECT THREE****************/

.detail_sect_three{
    padding: 1em 3em;
}

.sect_three_one{
    display: flex;
    align-items: center;
}

.sect_three_one div{
    height: 1em;
    width: 2px;
    background-color: #f0f0f0;;
    margin-left: 2em;
    margin-right: 2em;
}

.sect_three_one p{
    margin-left: 2em;
    display: inline-block;
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
    background-color: #26688b;
    padding: 0.3em 1em;
    color: #fff;
}

.sect_three_two{
    display: flex;
    margin-top: 2em;
}

.sect_three_left{
    flex: 1 0 60%;
    margin-right: 2em;
}

.left_head{
    display: flex;
    justify-content: space-between;
}

.left_head div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dcf0fa;
    padding: 0.7em;
    border-radius: 20px;
}

.left_head div div{
    display: flex;
    flex-direction: row;
}

.left_one h2{
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.2;
    margin-block: 1em;
}

.left_one p{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.625;
    margin-bottom: 2em;
}

.left_two h2{
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.2;
    margin-block: 1em;
}

.left_two > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left_two > div > div {
    width: 15em;
    display: flex;
    margin-bottom: 1em;
}

.left_two div p{
  font-size: 15px;
  font-weight: 800;
}

.left_icon{
    color: #6EC1E4;
    margin-right: 0.5em;
}

.sect_three_right{
    flex: 1 0 37%;
}

.five_icons{
    font-size: 30px;
    margin-right: 0.5em;
}

.right_one{
    display: flex;
    align-items: center;
}

.right_one img{
    border-radius: 15px;
    margin-right: 1.5em;
}

.right_one h4{
    font-family: "DM Sans", sans-serif;
    line-height: 1.625;
    font-size: 15px;
    font-weight: 700;
}

.right_one h3:nth-child(2){
    display: flex;
    margin-block: 1em;
    font-size: 1rem;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.right_one h3:nth-child(2) span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    height: 1em;
    width: 1em;
    background-color: #26688b;
    border-radius: 50%;
    color: #fff;
}

.right_one h3:nth-child(3){
    font-family: "DM Sans", sans-serif;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
    color: #26688b;
    cursor: pointer;
}

.right_two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2em;
}

.right_two > div:first-child h3{
    text-align: right;
    margin-right: 1.5em;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    line-height: 1.625;
    margin-bottom: 0.6em;
}

.right_two div:nth-child(2) div{
    display:  flex;
    margin-bottom: 1em;
}

.right_icon{
    margin-right: 0.5em;
    color: #6EC1E4;
}




.contact_con{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_con form{ 
    width: 25em;
    background-color: #dcf0fa ;
    padding: 1em;
    border-radius: 10px;
}

.contact_icon{
    margin-right: 1em;
}

/*********SECT TWO**********/

.sect_two{
    margin-block: 1em;
}

.sect_two_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.2em 1em;
    height: 3em;
}

.sect_two_two > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sect_two input{
    width: 100%;
    border: none;
    outline: none;
}

.contact_line2{
    width: 19em;
    height: 2px;
    background-color: rgb(112, 108, 108);
    margin-left: 2em;
    margin-top: .5em;
}

/***********SECT THREE *******/

.sect_three{
    margin-bottom: 1em;
}

.sect_three > div{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 1em 1em;
    background-color: #fff;
    border-radius: 10px;
}

.sect_three textarea{
    width: 100%;
    height: 8em;
    border: none;
}

.contact_con form button{
    width: 100%;
    background-color: #26688b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding-block: 0.5em;
}


.sect_five_main{
    background-color: #fff;
    padding: 1em;
    margin-right: 0.7em;
    border-radius: 10px;
    width: 27em;
}

.sect_five_main > img {
    height: 300px;
    border-radius: 10px;
}

.sect_five_main > div:nth-child(2) h3{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2em;
}

.sect_five_main > div:nth-child(2) p{
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625;
    margin-block: 1em;
}

.sect_five_main > div:nth-child(2) section{
    display: flex;
    justify-content: space-between;
    width: 15em;
}

.sect_five_main > div:nth-child(2) section > div{
    display: flex;
    align-items: center;
}

.sect_five_main > div:nth-child(2) section > div p{
    margin-left: 0.5em;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-weight: 600;
}

.five_icons{
    font-size: 24px;
}

.five_amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2em;
}

.five_amount > h2{
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.five_amount > div{
    display: flex;
    align-items: center;
    color: #26688b;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #26688b;
    border-radius: 10px;
    padding: 0.05em 1em;
}

.five_amount > div p{
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-color: #26688b;
    color: #26688b;
    background-color: transparent;
    margin-right: 1em;
}

.five_icons{
    color: #26688b;
}

@media screen and (max-width: 1400px) {
    .one_three{
        width: 160%;
    }
}

@media screen and (max-width: 1300px) {
    .detail_con{
        padding: 1em 2em;
    }

    .one_three{
        width: 170%;
    }
}

@media screen and (max-width: 1200px) {
    .sect_three_two{
        flex-direction: column;
    }

    .right_one{
        justify-content: center;
    }

    .sect_three_left{
        margin-right: 0;
    }
}

@media screen and (max-width: 1100px) {
    .one_three{
        width: 150%;
    }
}

@media screen and (max-width: 1000px) {
    .one_three{
        width: 140%;
    }
}

@media screen and (max-width: 900px) {
    .sect_one{
        position: relative;
        padding: 1em;
        bottom: 0;
        left: 0;
    }

    .detail_sect_one{
        background-color: #87d1b8;
        flex-direction: column;
    }

    .backImage{
        margin: 0;
    }

    .one_three{
        width: 100%;
    }

    .one_two h1:first-child{
        font-size: 26px;
        color: black;
    }

    .one_two h1:last-child{
        font-size: 20px;
    }

    .one_icon1{
        position: absolute;
        left: -1em;
        top: 33%;
    }
    
    .headerImage > div:last-child {
        left: 97%;
    }

    .detail_sect_two{
        padding: 1em .1em;
    }
    
    .detail_sect_three{
        padding: 1em .1em;
    }
    
}
    
@media screen and (max-width: 800px){

    .left_head{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .left_head > div{
        margin-right: 0.5em;
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 690px){
    .one_three{
        flex-direction: column;
    }

    .one_three div:nth-child(2){
        margin-top: 1em;
    }

    .sect_two_img{
        width: 40%;
    }
    
    .sideImage{
        width: 100%;
    } 
}

@media screen and (max-width: 500px){
    .detail_con{
        padding: 1em;
    }

    .one_two{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
    
    .one_icon1{
        top: 28%;
    }

    .headerImage > div:last-child {
        left: 95%;
    }

    .sect_two_last{
        display: none;
    }

    .contact_line2{
        width: 90%;
    }
}

@media screen and (max-width: 412px){
    .one_two h1:first-child{
        font-size: 20px;
    }

    .one_two h1:last-child{
        font-size: 18px;
    }

    .one_icon1{
        top: 25%;
    }

    .sect_three_one h2{
        font-size: 14px;
    }

    .sect_three_one div{
        margin-left: 1em;
        margin-right: 1em;
    }

    .sect_three_one h3{
        font-size: 14px;
    }

    .sect_three_one p{
        font-size: 14px;
    }

    .left_one h2{
        font-size: 18px;
        font-weight: 500;
    }
    
    .left_one p{
        font-size: 14px;
        font-weight: 300;
    }
}

@media screen and (max-width: 375px){
    .one_one p:first-child{
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .one_one p:nth-child(2){
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .one_one p:nth-child(3){
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .left_head{
        justify-content: center;
    }
}

@media screen and (max-width: 300px){

    .contact_line{
        width: 84%;
    }

    .contact_line2{
        width: 85%;
    }
}














